body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  width: 1440px;
  color: #000000;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
.main-header {
  background-color: #eeeeee;
  min-height: 545px;
  margin-bottom: 80px;

}
.main-header-logo {
  margin: 0;
  padding: 0;
}
.main-header-logo img:hover {
  opacity: 0.8;
}
.main-header-logo img:active {
  opacity: 0.3;
}
.container {
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.main-navigation {
  display: flex;
  justify-content: space-between;
  padding-top: 49px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  background-color: #eeeeee;
  margin-bottom: -10px;
}
.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  width: 440px;
  margin: 0;
  padding: 0;
  padding-top: 4px;
}
.basket {
  display: block;
  text-align: right;
  align-self: center;
  width: 160px;
  padding-top: 4px;
}
.product-list,
.about-us-products,
.partners-logo,
.catalog-list,
.footer-social {
  list-style: none;
}
.site-navigation a,
.basket a {
  display: block;
  position: relative;
  color: #000000;
}
.site-navigation a:hover,
.basket a:hover {
  color: #fb565a;
}
.site-navigation a:focus,
.basket a:focus {
  color: rgba(0, 0, 0, 0.3);
}
.site-navigation a::after,
.basket a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #eeeeee;
  top: 25px;
  right: 0px;
}
.site-navigation a::after:active,
.basket a::after:active {
  background-color: #fb565a;
}
.site-navigation-current{
  font-weight: 400;
}
.site-navigation-current a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fb565a;
  top: 25px;
  right: 0px;
}
.basket a::before {
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  top: 8px;
  left: 45px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.inner-page .main-header {
  min-height: 355px;
  margin-bottom: 57px;
}
.main-header h1 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: center;
}
.main-navigation-catalog{
  margin-bottom: 69px;
}
.slider {
  position: relative;
  background-color: #eeeeee;
}
.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}
.slider-controls label {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}
.slider-controls label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border-radius: 50%;
}
.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}
.slider-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}
.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}
.slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}
#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}
#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}
#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}
#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}
.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}
.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 37px;
  font-weight: 400;
}
.slider-item-button {
  display: block;
  width: 240px;
  padding: 17px 0;
  background-color: #fb565a;
}  
.button {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  border: none;
}
.slider-item-button:hover,
.slider-item-button:focus {
  background-color: #e74246;
}
.slider-item-button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}
.products {
  position: relative;
  margin-bottom: 80px;
}
.product-list {
  display: flex;
  width: 1100px;
  min-height: 347px;
  margin: 0;
  padding: 0;
}
.product-list li {
  width: 300px;
  min-height: 347px;
  margin-right: 100px;
}
.product-list li:last-child {
  margin-right: 0;
}
.product-list img {
  margin-bottom: -6px;
}
.product-list h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.product-list p {
  width: 240px;
  margin-bottom: 32px;
}
.product-list .button-products {
  display: block;
  width: 160px;
  padding: 15px 0;
}
.web-sites a {
  background-color: #fb565a;
}
.web-sites a:hover {
  background-color: #e74246;
}
.web-sites a:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 3px #c13135;
}
.applications a {
  background-color: #00ca74;
}
.applications a:hover {
  background-color: #00bc6c;
}
.applications a:active {
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 3px #009958;
}
.presentations a {
  background-color: #efc84a;
}
.presentations a:hover {
  background-color: #eab534;
}
.presentations a:active {
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 3px #ce961f;
}
.products::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #eeeeee;
  bottom: -82px;
}
.index-columns {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 110px; 
  padding-top: 37px;
}
.about-us {
  width: 660px;
  min-height: 400px;
  margin: 0;
  margin-right: 149px;
  padding-top: 40px; 
}
.about-us-products {
  margin: 0;
  padding: 0;
}
.about-us p:first-child {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  margin-bottom: 32px;

}
.about-us p:nth-child(2) {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  font-weight: 400;
}
.about-us h3 {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
}
.about-us-products li {
  position: relative;
  margin-bottom: 24px;
  margin-left: 37px; 
  font-weight: 400;
}
.about-us-products li::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
  left: -36px;
  top: 11px;
}

.exactness {
  width: 360px;
  margin: 0;
  padding: 0;
  padding-top: 5px;
}
.exactness img {
  margin-bottom: 15px;
}
.exactness p {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 40px;
  padding-left: 17px;
}
.exactness ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  width: 360px;
  justify-content: flex-start;
  line-height: 18px;
  font-weight: 400;
}
.exactness .numbers-about-us {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  margin-bottom: 18px;
}
.numbers-about-us li {
  margin-right: 18px;
}
.numbers-about-us li:nth-child(2) {
  margin-right: 16px;
}
.numbers-item li {
  margin-right: 30px;
}
.numbers-item li:nth-child(2) {
  margin-right: 23px;
}
.partners {
  width: 1200px;
  position: relative;
  margin-bottom: 17px;
}
.partners::before,
.partners::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #eeeeee;
}
.partners::before {
  top: -63px;
  left: 0;
}
.partners::after {
  top: 119px;
  left: 0;
}
.partners-logo {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}
.partners-logo li {
  position: relative;
  width: 260px;
  min-height: 180px;
}

.partners-logo li:first-child { 
  margin-left: 30px;
  margin-right: -10px;
}

.partners-logo li:nth-child(2) {
  margin-top: -15px;
  margin-right: 0px;
}
.partners-logo li:nth-child(3) {
  margin-top: 5px;
}
.partners-logo li:nth-child(4) {
  margin-top: -7px;
  margin-right: -5px;
}
.partners-logo li::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  background-color: #eeeeee;
  top: 17px;
  left: -49px;
}
.partners-logo li:first-child::after {
  display: none;
}
.partners-logo li:nth-child(3)::after{
  top: 0px;
  left: -58px;
}
.partners-logo li:nth-child(4)::after{
  top: 10px;
  left: -65px;
}
.partners-logo img {
  opacity: 0.2;
}
.partners-logo img:hover {
  opacity: 1;
}
.partners-logo img:active {
  opacity: 0.1;
}
.map {
 width: 1440px;
 min-height: 416px;
 position: relative;
 right: 140px;
}
.map img::before {
  content: "";
  position: absolute;
  width: 231px;
  height: 190px;
  background-image: url("../img/map-marker.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.contacts {
  width: 319px;
  min-height: 308px;
  position: absolute;
  background-color: #ffffff;
  top:53px;
  left:140px;
  box-sizing: border-box;
}
.contacts-container{
  margin-left: 50px;
}
.contacts-container h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 30px;
  margin-bottom: 25px;
}
.contacts-container p {
  line-height: 18px;
  font-weight: 400;
}

.contacts button {
  background-color: #fb565a;
  border:none;
  color:#ffffff;
  padding: 18px 43px 15px 45px;
  line-height: 18px;
  margin-top: 22px;
  cursor: pointer;
}
.main-footer {
  margin: 0;
  min-height: 217px;
  padding-top: 32px;
}
.main-footer .container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0 auto;
 }
.footer-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-right: 139px;
  padding: 0;
  width: 260px;
  padding-top: 15px;
}
.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background-color: #eeeeee;
}
.social-button:hover {
  background-color: #e74246;
}
.social-button:focus {
  background-color: #d7373b;
  box-shadow: inset 0px 3px 2px 0 #c13135;
}
.social-button:focus path {
  fill: #e37376;
}
.discont {
  width: 545px;
}
.discont p:first-child {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}
.discont p:last-child {
  line-height: 18px;
  margin-top: -25px;
  font-weight: 400;
}
.filters {
  width: 360px;
}
.filters fieldset {
  border: none;
  padding: 0;
  margin: 0;
  
}
.filters legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.range-filter {
  width: 260px;
  margin: 0;
  padding: 0;
}
.range-filter legend{
  margin-bottom: 45px;
}
.range-controls {
    position: relative;
    height: 80px;
    margin-bottom: 14px;
    padding: 0 30px;
    background: #eeeeee;
    overflow: hidden;
    border-radius: 2px;
}
.scale {
    margin-top: 39px;
    height: 2px;
    background: #d7dcde;
}
.bar {
    height: 2px;
    background: #00ca74;
    width: 150px;
} 
.toggle {
    position: absolute;
    top: 30px;
    left: 19px;
    width: 4px;
    height: 4px;
    border: 8px solid white;
    background: #ababab;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 2px 1px #cfcfcf;
}
.max-toggle {
    left: 161px;
}
.price-controls {
  line-height: 22px;
  text-transform: uppercase;
  font-weight: 400;
} 
.price-controls input {
  color: #283136;
  font-size: 16px;
  line-height: 22px;
  width: 48px;
  padding: 8px 14px 9px 15px;
  margin-left: 10px;
  border: none;
  background: #eeeeee;
  text-align: center;
  border-radius: 2px;
  margin-bottom: 62px;
}
.min-price {
  margin-right: 29px;
}

.filters ul {
  list-style: none;
  line-height: 20px;
  padding: 0;
  margin: 0;
}
.filter-option,
.filter-option {
  margin-bottom: 25px;
  padding-left: 35px;
}
.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}
.filter-input + label {
  color: #283136;
}
.filter-input-radio:hover + label,
.filter-input-radio:focus + label {
  color:#000000;
}
.filter-input:disabled + label {
  opacity: 0.3;
}
.filter-option-checkbox label::before {
  content: "";
  position: absolute;
  left: -34px;
  top: 0 px;
  width: 19px;
  height: 19px;
  border: 2px solid #4d4d4d;
  border-radius: 5px;
  opacity: 0.4;
}
.filter-input-checkbox:checked ~ label::before {
  width: 25px;
  height: 25px;
  border:none;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}
.filter-input-checkbox:hover ~ label::before {
  opacity: 1;
}
.filter-input-checkbox:disabled ~ label::before {
  opacity: 0.3;
}
.filter-option-radio label::before {
  content: "";
  position: absolute;
  left: -34px;
  top: -2px;
  width: 17px;
  height: 17px;
  border: 4px solid #4d4d4d;
  border-radius: 50%;
  opacity: 0.4;
}
.filter-option-radio label::after {
  content: "";
  position: absolute;
  left: -26px;
  top: 6px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #4d4d4d;
  opacity: 0.4;
  transform: scale(0);
}
.filter-input-radio:checked ~ label::after {
  transform: scale(1);
}
.filter-input-radio:hover ~ label::before,
.filter-input-radio:hover ~ label::after {
  opacity: 1;
}
.filter-input-radio:disabled ~ label::before,
.filter-input-radio:disabled ~ label::after {
  opacity: 0.3;
}
.filter-button {
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #eeeeee;
  color: #000000;
  border: none;
  padding: 16px 89px;
}
.filter-button:hover {
  background-color: #dfdfdf;
}
.filter-button:active {
  background-color: #dfdfdf;
  color: rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 3px #bfbfbf;
}
.sort {
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 77px;
}
.sort .sort-title {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-right: 265px;
  color:#000000;
}
.sort-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 360px;
}
.sort-list li {
  margin-right: 28px;
}
.sort-list li:last-child {
  margin-right: 0px;
  padding-right: 80px;
}
.sort-list::before,
.sort-list::after {
  content: "";
  position: absolute;
  width: 11px;
  height: 10px;
  background-image: url("../img/icon-down-dir.svg");
}
.sort-list::before {
  top: 50%;
  right: 0px;
  margin-top: -5px;
  opacity: 0.3;
}
.sort-list::after {
  top: 50%;
  right: 30px;
  margin-top: -5px;
  transform: rotate(180deg);
  opacity: 0.3;
}
.sort-list::before:hover,
.sort-list::after:hover {
  opacity: 0.6;
}
.sort-list::before:focus,
.sort-list::before:active,
.sort-list::before:focus,
.sort-list::after:active {
  opacity: 1;
}
.sort-list a {
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  text-transform: uppercase;
  color: #000000;
  opacity: 0.3;
}
.sort-list a:hover {
  opacity: 0.6;
}
.sort-list a:focus,
.sort-list a:active {
  opacity: 1;
}
.catalog-columns {
  display: flex;
  justify-content: space-between;
}
.catalog {
  width: 760px;
  min-height: 1920px;
}
.catalog-list {
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}
.catalog-item {
  position: relative;
  width: 360px;
  min-height: 617px;
  margin-bottom: 33px;
  margin-right: 40px;
}
.catalog-item:nth-child(2n) {
  margin-right: 0;
}
.catalog-item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 40px;
  top: -39px;
  left: 0px;
  background-image: url("../img/browser.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.12;
}
.catalog-item:hover ~ .catalog-item::before {
  opacity: 1;
}
.catalog-item-hover {
  display: none;
  position: absolute;
  width: 360px;
  min-height: 231px;
  text-align: center;
  background-color: #eeeeee;
  top: 345px;
  left: 0;
}
.catalog-item:hover .catalog-item-hover {
  display: block;
}
.catalog-item-hover h2 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 29px;
  margin-bottom: 23px;
}
.catalog-item-hover p {
  line-height: 18px;
  margin-bottom: 30px;
}
.catalog-item-hover a {
  background-color: #fb565a;
  padding: 18px 61px;
}
.catalog-item-hover a:hover {
  background-color: #e74246;
}
.catalog-item-hover a:focus {
  background-color: #d7373b;
}
.pagination-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 60px;
}
.pagination-item {
  margin-right: 10px;
}
.pagination-item:last-child {
  margin-right: 0;
}
.pagination-item a {
  display: block;
  padding: 16px 20px;
  color: #000000;
  background-color: #eeeeee;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  border: 3px solid #eeeeee;
  border-radius: 5px;
}
.pagination-item a:hover {
  background-color: #dfdfdf;
  border: 3px solid #dfdfdf;
}
.pagination-item a:focus {
  background-color: #d5d5d5;
  border-top:3px solid #bfbfbf;
  border-left: 3px solid #d5d5d5;
  border-right: 3px solid #d5d5d5;
  border-bottom: 3px solid #d5d5d5;
}
.pagination-item a:active {
  background-color: #ffffff;
  border:3px solid #dfdfdf;
}
.pagination-item-current a {
  background-color: #ffffff;
  border:3px solid #dfdfdf;
}
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  background-color: #ffffff;
  border:3px solid #dfdfdf;
}
.pagination-item-next a {
  padding: 16px 78px;
}
.modal-write-us {
  display: none;
  position: fixed;
  width: 960px;
  min-height: 590px;
  top: 10px;
  left: 50%; 
  margin-left: -435px;
  background-color: #ffffff;
  box-shadow: 0 10px 15px 5px rgba(0, 0, 0, 0.5);
}
.modal-wrapper {
  margin: 0 auto;
  padding: 0 10px;
  width: 760px;
}
.write-us-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.write-us-item {
  width: 360px;
  margin: 0;
  margin-bottom: 35px;
}
.write-us-form label {
  display: block;
  margin-bottom: 12px;
  line-height: 18px;
  font-weight: 700;
}
.write-us-item input {
  box-sizing: border-box;
  padding: 14px;
  font: inherit;
  background-color: transparent;
  width: 356px;
  min-height: 46px;
}
.write-us-form textarea {
  box-sizing: border-box;
  padding: 14px;
  font: inherit;
  background-color: transparent;
  width: 756px;
  min-height: 114px;
  margin: 0;
  margin-bottom: 37px;
}
.modal-write-us h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 50px;
  padding-top: 73px;
}
.modal-close {
  position: absolute;
  top: 76px;
  right: 91px;
  width: 22px;
  height: 22px;
  font-size: 0;
  border: 0;
  background-color: #ffffff;
  cursor: pointer;
}
.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 9px;
  right: -1px;
  width: 25px;
  height: 5px;
  background-color: #fecccd;
}
.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}
.modal-close:hover ~ .modal-close::before,
.modal-close:hover ~ .modal-close::after{
  background-color: #fb565a;
}

.modal-write-us input,
.modal-write-us input:hover,
.modal-write-us textarea,
.modal-write-us textarea:hover{
  line-height: 18px;
  color: #444444;
  opacity: 0.3;
  border: 2px solid #d7dcde;
  font-weight: 300;
  font-size: 16px; 
}
.modal-write-us input:focus,
.modal-write-us textarea:focus{
  color: #444444;
  opacity: 1;
  border: 2px solid #000000;
  }
.modal-write-us input:invalid,
.modal-write-us textarea:invalid{
  color: #e74246;
  border: 2px solid #e74246;
  outline: none;
  }
.button-write-us{
  background-color: #fb565a;
  border: none;
  padding: 19px 83px; 
}